@import '../../colors.scss';
footer{
    background-image: linear-gradient(to bottom right, $primary-color, black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 0.5rem;
    
    .footer-container{
        max-width: 1024px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;

        .footer-items{
            max-width: 33%;
            margin-left: 2rem;
            padding: 1rem;

            h3{
                font-weight: 500;
            }

            span{
                display: block;
                margin-bottom: 0.3rem;
            }
            .social-links{
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                a{
                    color: white;
                    font-size: 1.5rem;
                }
            }
        }
    }
    small{
        margin: 1rem;
    }
}