@import '../../colors.scss';
.navbar{
    height: 50px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .navContainer{
        width: 100%;
        max-width: 1024px;

        .navContent{
            display: flex;
            justify-content: space-between;

            a {
                border: $ocean-blue;
                border-radius: 5px;
                padding: 5px 10px;
                margin-right: 10px;
                color: #fff;
                text-decoration: none;
                background: $ocean-blue;
            }
            a:hover{
                background: #fff;
                color: $ocean-blue;
            }
        }
    }
}