@import '../../colors.scss';

.inventory-section {
    background-color: rgb(188, 233, 233);

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            color: $primary-color;
            font-size: 2rem;
            margin: 5px;
        }

        .container {
            width: 1024px;
            border: 1px solid $primary-color;
            background-color: #fff;
            border-radius: 5px;
            height: 75vh;

            .items-container {
                height: 87%;

                h4 {
                    font-weight: 500;
                    border-right: 30px solid $primary-color;
                    border-bottom: 1px solid $primary-color;
                    padding: 5px 10px;
                    margin: 0;
                }

                .items {
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    padding: 10px;
                    padding: 4px;
                    width: auto;
                    height: 90%;
                    overflow-x: hidden;
                    overflow-y: auto;

                    .item {
                        height: 100px;
                        width: 90%;
                        margin: 5px;
                        padding: 5px;
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                    }


                }

            }

            .button-container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-top: 1px solid $primary-color;
                padding-top: 5px;
                height: 11.56%;
                background-color: rgb(215, 233, 233);

                button {
                    width: 5rem;
                    height: 2.1rem;
                    background-color: $primary-color;
                    border: none;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 1rem;
                }

                button:hover {
                    transition: 100ms;
                    background-color: #234041;
                }
            }

        }
    }

    .modal-container {
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 90vh;
        width: 100%;

        .modal {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            border-radius: 10px;
            background-color: $secondary-color;
            width: 70%;
            height: 70%;
            padding: 10px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h4 {
                color: #fff;
                font-size: 1.5rem;
                border-bottom: 2px solid white;
                padding-bottom: 5px;
                font-weight: 500;
            }

            .input-feld {

                input {
                    display: block;
                    width: 25rem;
                    height: 2rem;
                    margin-bottom: 1rem;
                    border-radius: 5px;
                    font-size: 0.9rem;
                    padding-left: 10px;
                    border: none;
                }

                .button-container {
                    display: flex;
                    width: 25rem;
                    justify-content: space-evenly;

                    input {
                        width: 40%;
                        border: none;
                        background: white;
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    input:hover {
                        transition: 100ms;
                        background: #ffffff62;
                    }
                }
            }
        }

        .close-button {
            position: relative;
            left: -25px;
            top: -200px;

            button {
                background-color: red;
                border: none;
                border-radius: 45px;
                color: #fff;
                height: 40px;
                width: 40px;


            }
        }
    }

    section {
        .history-container {
            border: 1px solid $primary-color;
            margin-top: 0.4rem;
            background-color: #fff;
            width: 1024px;
            
            h4 {
                font-weight: normal;
                font-size: 1.5rem;
                color: $primary-color;
                justify-content: center;
                border-bottom: 1px solid $primary-color;
                padding: 0 10px;
                margin: 5px 0px;
                border-right: 10px solid $primary-color;

            }
            .table-container{
                display: flex;
                flex-direction: column;

                tr{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $primary-color;
                    margin-bottom: 5px;
                    padding: 5px 10px;
                }
            }
        }
    }
}